<div class="form-container">
    <form #cardForm="ngForm" (ngSubmit)="onSubmit(cardForm)">
        <div class="field">
             <label class="label">Question</label>
             <div class="control">
                 <input type="text" name="title" [ngModel]="_card.title" required class="input">
             </div>
        </div>
        <br>
        <div class="field">
            <label class="label"> Answer</label>
            <div class="control">
                <textarea class="textarea" name="body" [ngModel]="_card.body"></textarea>
            </div>
        </div>
        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" type="button" (click)="cancel()"> Cancel </button>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit" [disabled]="!cardForm.valid"> Save </button>
            </div>
        </div>
    </form>
</div>